input{

    border-color: black;
    border-radius: 5px;

}

button{
    margin-right: 3%;
    border-color: black;
    border-radius: 5px;

}

text{
    border-color: black;
    border-radius: 5px;
}